@model BlueInsuranceTest.Domain.Utils.PaginatedList<BlueInsuranceTest.Domain.Entities.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prevDisabled = Model == null || !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = Model == null || !Model.HasNextPage ? "disabled" : "";
}
<div class="row mb-3">
    <h1 class="col-sm-8">Course</h1>
    <form asp-action="Index" asp-controller="Course" method="get" class="col-sm-4">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Code, Name, Teacher" value="@ViewData["currentFilter"]"
                   aria-label="Code, Name, Teacher" aria-describedby="search-course">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <a asp-action="Create" class="btn btn-primary btn-lg col-sm-2 offset-sm-10">New</a>
</div>
@if (TempData["errorMessage"] != null)
{
    <div class="row mb-3">
        <div class="alert alert-danger alert-dismissible fade show col-sm-12">
            @TempData["errorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TeacherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StudentLimit)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentLimit)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-search="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-search="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
}
else
{
    <div class="row">
        <div class="col-sm-12 alert alert-secondary text-center" role="alert">
            No Courses Found
        </div>
    </div>
}
